body {
  font-family: Arial, sans-serif;
  background-color: rgb(29, 33, 38);
  margin: 0;
  padding: 0;
  justify-items: center;
  color: rgb(255, 255, 255);
}

.box {
  margin: 30px 0px;
  padding: 16px;
  border: 1px dashed rgb(128, 128, 128);
  border-spacing: 4px;
  font-size: 16px;
  font-weight: 450;
}

.blue-box {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  background-color: rgb(0, 127, 255);
}