<!DOCTYPE html>
<html>
  <head>
    <title>Image List</title>
    <link rel="stylesheet" href="imagelist.css">
  </head>
  <body>
    
    
    <div class="container">
      <ul>
        <li>
          <img src="image/photo-1551963831-b3b1ca40c98e.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1551782450-a2132b4ba21d.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1522770179533-24471fcdba45.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1444418776041-9c7e33cc5a9c (1).avif" alt="">
        </li>
        <li>
          <img src="image/photo-1533827432537-70133748f5c8 (1).avif" alt="">
        </li>
        <li>
          <img src="image/photo-1558642452-9d2a7deb7f62.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1516802273409-68526ee1bdd6.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1518756131217-31eb79b20e8f.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1597645587822-e99fa5d45d25.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1567306301408-9b74779a11af.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1471357674240-e1a485acb3e1.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1589118949245-7d38baf380d6 (1).avif" alt="">
        </li>
      </ul>
    </div>

    <div class="container">
      <ul class="img-grid">
        <li class="img-2x2">
          <img src="image/photo-1551963831-b3b1ca40c98e.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1551782450-a2132b4ba21d.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1522770179533-24471fcdba45.avif" alt="">
        </li>
        <li class="img-2x1">
          <img src="image/photo-1444418776041-9c7e33cc5a9c.avif" alt="">
        </li>
        <li class="img-2x1">
          <img src="image/photo-1533827432537-70133748f5c8.avif" alt="">
        </li>
        <li class="img-2x2">
          <img src="image/photo-1558642452-9d2a7deb7f62.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1516802273409-68526ee1bdd6.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1518756131217-31eb79b20e8f.avif" alt="">
        </li>
        <li class="img-2x2">
          <img src="image/photo-1597645587822-e99fa5d45d25.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1567306301408-9b74779a11af.avif" alt="">
        </li>
        <li>
          <img src="image/photo-1471357674240-e1a485acb3e1.avif" alt="">
        </li>
        <li class="img-2x1">
          <img src="image/photo-1589118949245-7d38baf380d6.avif" alt="">
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="title-head">December</div>
      <ul class="img-grid-sec">
        <li class="img-box">
          <img src="image/photo-1551963831-b3b1ca40c98e.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Breakfast</p>
              <p class="text">@bkristastucchio</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1551782450-a2132b4ba21d.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Burger</p>
              <p class="text">@rollelflex_graphy726</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1522770179533-24471fcdba45.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Camera</p>
              <p class="text">@helloimnik</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1444418776041-9c7e33cc5a9c (1).avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Coffee</p>
              <p class="text">@nolanissac</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1533827432537-70133748f5c8 (1).avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Hats</p>
              <p class="text">@hjrc33</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1558642452-9d2a7deb7f62.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Honey</p>
              <p class="text">@arwinneil</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1516802273409-68526ee1bdd6.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Basketball</p>
              <p class="text">@tjdragotta</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1518756131217-31eb79b20e8f.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">fern</p>
              <p class="text">@Katie_wasserman</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1597645587822-e99fa5d45d25.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Mushrooms</p>
              <p class="text">@silverdalex</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1567306301408-9b74779a11af.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Tomato basil</p>
              <p class="text">@shelleypauls</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image/photo-1471357674240-e1a485acb3e1.avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Sea star</p>
              <p class="text">@peterlaster</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
        <li class="img-box">
          <img src="image//photo-1589118949245-7d38baf380d6 (1).avif" alt="">
          <div class="info-box">
            <div class="text-box">
              <p class="text-head">Bike</p>
              <p class="text">@southside_customs</p>
            </div>
            <button class="icon">
              <svg class="icon-img" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z"></path></svg>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="container">
      <ul class="img-grid-tri">
        <div class="box">
          <img src="image/photo-1551963831-b3b1ca40c98e.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Breakfast</p>
            <p class="text">@bkristastucchio</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1551782450-a2132b4ba21d.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Burger</p>
            <p class="text">@rollelflex_graphy726</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1522770179533-24471fcdba45.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Camera</p>
            <p class="text">@helloimnik</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1444418776041-9c7e33cc5a9c (1).avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Coffee</p>
            <p class="text">@nolanissac</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1533827432537-70133748f5c8 (1).avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Hats</p>
            <p class="text">@hjrc33</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1558642452-9d2a7deb7f62.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Honey</p>
            <p class="text">@arwinneil</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1516802273409-68526ee1bdd6.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Basketball</p>
            <p class="text">@tjdragotta</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1518756131217-31eb79b20e8f.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">fern</p>
            <p class="text">@Katie_wasserman</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1597645587822-e99fa5d45d25.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Mushrooms</p>
            <p class="text">@silverdalex</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1567306301408-9b74779a11af.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Tomato basil</p>
            <p class="text">@shelleypauls</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1471357674240-e1a485acb3e1.avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Sea star</p>
            <p class="text">@peterlaster</p>
          </div>
        </div>
        <div class="box">
          <img src="image/photo-1589118949245-7d38baf380d6 (1).avif" alt="">
          <div class="text-box-sec">
            <p class="text-head">Bike</p>
            <p class="text">@southside_customs</p>
          </div>
        </div>
      </ul>
    </div>

    <div class="container">
      <ul class="img-grid-quad">
        <li class="img-2x2">
          <img src="image/photo-1551963831-b3b1ca40c98e.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Breakfast</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1551782450-a2132b4ba21d.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Burger</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1522770179533-24471fcdba45.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Camera</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1444418776041-9c7e33cc5a9c (1).avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Coffee</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1533827432537-70133748f5c8 (1).avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Hats</div>
          </div>
        </li>
        <li class="img-2x2">
          <img src="image/photo-1558642452-9d2a7deb7f62.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Honey</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1516802273409-68526ee1bdd6.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Basketball</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1518756131217-31eb79b20e8f.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Fern</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1597645587822-e99fa5d45d25.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Mushrooms</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1567306301408-9b74779a11af.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Tomato basil</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1471357674240-e1a485acb3e1.avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Sea star</div>
          </div>
        </li>
        <li>
          <img src="image/photo-1589118949245-7d38baf380d6 (1).avif" alt="">
          <div class="title-box">
            <button class="icon">
              <svg class="icon-img-sec" viewBox="0 0 24 24"><path d="m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28z"></path></svg>
            </button>
            <div class="text-sec">Bike</div>
          </div>
        </li>
      </ul>
    </div>



  </body>
</html>