body {
  font-family: Arial, sans-serif;
  background-color: rgb(29, 33, 38);
  margin: 0;
  padding: 0;
  justify-items: center;
  color: rgb(255, 255, 255);
}

.container {
  margin: 50px 0px;
  padding: 0;
  background-color: rgba(29, 33, 38, 0.1);
  height: 450px;
  width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
ul {
  margin: 0;
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
img {
  display: block;
  position: relative;
  width: 100%;
  object-fit: cover;
  filter: brightness(65%);
}
li {
  position: relative;
}

.img-grid {
  margin: 0;
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.img-2x2 {
  position: relative;
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.img-2x1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.img-grid-sec {
  margin: 0;
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}
.title-head {
  display: flex;
  padding: 0px 16px;
  margin-bottom: 4px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.7);
}
.img-box {
  position: relative;
}
.info-box {
  position: absolute;
  display: grid;
  align-items: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  grid-template-columns: 200px 39.6px;
  z-index: 100;
}
.text-box {
  padding: 12px 0px 12px 16px; 
}
.text-head {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.text {
  margin: 0;
  font-size: 14px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.icon {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}
.icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.icon-img {
  user-select: none;
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.54);
  display: inline-block;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  fill: currentColor;
}

.img-grid-tri {
  margin: 0;
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}
.text-box-sec {
  padding: 6px 0px 12px 0px; 
}

.img-grid-quad {
  margin: 0;
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.title-box {
  position: absolute;
  top: 0;
  display: grid;
  background-color: transparent;
  grid-template-columns: 40px 1fr;
  z-index: 100;
  color: rgb(255, 255, 255);
}
.text-sec {
  font-size: 16px;
  padding: 12px 16px 12px 0px;
}
.icon-img-sec {
  user-select: none;
  width: 24px;
  height: 24px;
  color: rgb(255, 255, 255);
  display: inline-block;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  fill: currentColor;
}