body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  background-color: rgb(19, 19, 19);
}

.blue-img {
  width: 28px;
  margin: 0;
  padding-top: 5px;
  padding-left: 1px;
}

.blue-btn {
  margin: 8px;
  justify-content: center;
  align-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: rgb(144, 202, 249);
  border: none;
}

.blue-btn:hover, .blue-btn-medium:hover, .blue-btn-small:hover, .blue-btn-large:hover {
  background-color: rgb(66, 165, 245);
  cursor: pointer;
}

.pink-img {
  width: 25px;
  margin: 0;
  padding-top: 5px;
  padding-left: 1px;
}

.pink-btn {
  margin: 8px;
  justify-content: center;
  align-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: rgb(206, 147, 216);
}

.pink-btn:hover, .pink-btn-small:hover, .pink-btn-large:hover {
  background-color: rgb(171, 71, 188);
  cursor: pointer;
}

.gery-img {
  position: absolute;
  width: 20px;
  margin-right: 10px;
  top: 15px;
  left: 18px;
}

.grey-btn {
  position: relative;
  margin: 8px;
  padding-right: 50px;
  width: 135px;
  height: 50px;
  border-radius: 25px;
  border: none; 
  cursor: pointer;
}

.grey-btn span, .blue-span-small, .blue-span-medium, .blue-span-large {
  position: absolute;
  font-size: 14px;
  font-family: arial;
  top: 17px;
  right: 17px;
}

.black-btn {
  margin: 8px;
  justify-content: center;
  align-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.12);
}

.pink-btn-small {
  margin: 8px;
  justify-content: center;
  align-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: none;
  background-color: rgb(206, 147, 216);
}

.pink-btn-large {
  margin: 8px;
  justify-content: center;
  align-content: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border: none;
  background-color: rgb(206, 147, 216);
}

.blue-btn-small {
  position: relative;
  margin: 8px;
  padding-right: 50px;
  width: 125px;
  height: 30px;
  border-radius: 25px;
  border: none; 
  background-color: rgb(144, 202, 249);
}

.blue-img-small {
  position: absolute;
  width: 20px;
  margin-right: 10px;
  top: 6px;
  left: 12px;
}

.blue-span-small {
  position: absolute;
  font-size: 14px;
  font-family: arial;
  top: 7px;
  right: 8px;
}

.blue-btn-medium {
  position: relative;
  margin: 8px;
  padding-right: 50px;
  width: 138px;
  height: 42px;
  border-radius: 25px;
  border: none; 
  background-color: rgb(144, 202, 249);
}

.blue-img-medium {
  position: absolute;
  width: 20px;
  margin-right: 10px;
  top: 10px;
  left: 15px;
}

.blue-span-medium {
  position: absolute;
  font-size: 14px;
  font-family: arial;
  top: 12px;
  right: 15px;
}

.blue-img-large {
  position: absolute;
  width: 20px;
  margin-right: 10px;
  top: 15px;
  left: 18px;
}

.blue-btn-large {
  position: relative;
  margin: 8px;
  padding-right: 50px;
  width: 145px;
  height: 50px;
  border-radius: 25px;
  border: none; 
  background-color: rgb(144, 202, 249);
}

.container-sec {
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: rgb(19, 19, 19);
}

.box {
  background-color: rgb(18, 17, 17);
  height: 300px;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 490px;
  align-items: center;
  background-color: rgba(62, 60, 60, 0.7);
  cursor: pointer;
}

/* Hide radio buttons */
input[type="radio"] {
  display: none;
}

/* Label styles */
label {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-family: arial;
  padding: 15px 42px;
  position: relative;
  cursor: pointer;
  transition: color 0s ease;
}

/* Default border-bottom */
label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition:  0s ease;
  background-color: rgb(144, 202, 249);
}

/* Checked state */
input[type="radio"]:checked + label {
  color: rgb(144, 202, 249);
}

input[type="radio"]:checked + label::after {
  width: 100%;
}

.box div {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-family: arial;
  font-size: 16px;
}
